@import "src/styles";

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-row:nth-child(odd) {
    background-color: $cinza-primary;
}

.botao-add {
    margin-top: 20px;
    text-align: right;
}
