<div class="container-conteudo">
    <div
        class="container-filtro"
        style="display: flex; justify-content: space-between"
    >
        <div class="filtro-sala" style="width: 50%">
            <mat-form-field style="width: 90%" appearance="outline">
                <mat-label>Salas</mat-label>
                <mat-select [formControl]="filtroSala">
                    <mat-option
                        *ngFor="let sala of listaSalas"
                        [value]="sala"
                        >{{ sala.nome }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filtro-button">
            <button (click)="filtrar()" mat-raised-button color="primary">
                Filtrar
            </button>
        </div>
    </div>
    <table
        mat-table
        matSort
        [dataSource]="dataSource"
        matSortDisableClear="true"
        class="mat-elevation-z8"
    >
        <ng-container matColumnDef="horarioDiaSemana">
            <th
                style="width: 10%; padding-right: 50px"
                mat-header-cell
                *matHeaderCellDef
            ></th>
            <td
                style="text-align: center; padding-left: 0"
                mat-cell
                *matCellDef="let element"
            >
                {{ element.nomeHorario }}
            </td>
        </ng-container>

        <ng-container matColumnDef="segunda">
            <th
                style="width: 15%; text-align: center"
                mat-header-cell
                *matHeaderCellDef
            >
                Segunda
            </th>
            <td
                style="text-align: center; color: white"
                mat-cell
                *matCellDef="let element"
            >
                {{ element.listaDetalhes[2].codigoDisciplina }} -
                {{ element.listaDetalhes[2].turma }}
            </td>
        </ng-container>

        <ng-container matColumnDef="terca">
            <th
                style="width: 15%; text-align: center"
                mat-header-cell
                *matHeaderCellDef
            >
                Terça
            </th>
            <td
                style="text-align: center; color: white"
                mat-cell
                *matCellDef="let element"
            >
                {{ element.listaDetalhes[3].codigoDisciplina }} -
                {{ element.listaDetalhes[3].turma }}
            </td>
        </ng-container>

        <ng-container matColumnDef="quarta">
            <th
                style="width: 15%; text-align: center"
                mat-header-cell
                *matHeaderCellDef
            >
                Quarta
            </th>
            <td
                style="text-align: center; color: white"
                mat-cell
                *matCellDef="let element"
            >
                {{ element.listaDetalhes[4].codigoDisciplina }} -
                {{ element.listaDetalhes[4].turma }}
            </td>
        </ng-container>

        <ng-container matColumnDef="quinta">
            <th
                style="width: 15%; text-align: center"
                mat-header-cell
                *matHeaderCellDef
            >
                Quinta
            </th>
            <td
                style="text-align: center; color: white"
                mat-cell
                *matCellDef="let element"
            >
                {{ element.listaDetalhes[5].codigoDisciplina }} -
                {{ element.listaDetalhes[5].turma }}
            </td>
        </ng-container>

        <ng-container matColumnDef="sexta">
            <th
                style="
                    width: 15%;
                    text-align: center;
                    padding-right: 0;
                    border-right: 0;
                "
                mat-header-cell
                *matHeaderCellDef
            >
                Sexta
            </th>
            <td
                style="
                    text-align: center;
                    padding-right: 0;
                    color: white;
                    border-right: 0;
                "
                mat-cell
                *matCellDef="let element"
            >
                {{ element.listaDetalhes[6].codigoDisciplina }} -
                {{ element.listaDetalhes[6].turma }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
