<mat-toolbar color="primary">
    <!-- <span style="margin-left: 50px">TCC Pipa</span> -->
    <!-- <img src="../assets/images/utf.png" alt="Logo Universidade" /> -->
    <div class="container-header">
        <a mat-button routerLink="/usuarios" routerLinkActive="active"
            >Usuários</a
        >
        <a mat-button routerLink="/horarios" routerLinkActive="active"
            >Horários</a
        >
        <a mat-button routerLink="/cursos" routerLinkActive="active">Cursos</a>
        <a mat-button routerLink="/atributos" routerLinkActive="active"
            >Atributos</a
        >
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
