<!-- <span style="margin-left: 50px">TCC Pipa</span> -->
<mat-toolbar color="primary">
    <div class="container-header container-conteudo" style="display: flex">
        <a routerLink="/home" routerLinkActive="active">
            <img src="../assets/images/utf.png" alt="Logo Universidade" />
        </a>
        <div class="rotas">
            <a
                *ngIf="usuarioSimplificado && usuarioSimplificado?.isAdmin"
                mat-button
                routerLink="/usuarios"
                routerLinkActive="active"
                >Usuários</a
            >
            <a
                *ngIf="usuarioSimplificado && usuarioSimplificado?.isAdmin"
                mat-button
                routerLink="/horarios"
                routerLinkActive="active"
                >Horários</a
            >
            <a
                *ngIf="usuarioSimplificado && usuarioSimplificado?.isAdmin"
                mat-button
                routerLink="/cursos"
                routerLinkActive="active"
                >Cursos</a
            >
            <a
                *ngIf="usuarioSimplificado && usuarioSimplificado?.isAdmin"
                mat-button
                routerLink="/atributos"
                routerLinkActive="active"
                >Atributos</a
            >
            <a
                *ngIf="usuarioSimplificado && usuarioSimplificado?.isAdmin"
                mat-button
                routerLink="/grupo-salas"
                routerLinkActive="active"
                >Agrupamento</a
            >
            <a
                *ngIf="usuarioSimplificado && usuarioSimplificado?.isAdmin"
                mat-button
                routerLink="/salas"
                routerLinkActive="active"
                >Salas</a
            >
            <a
                *ngIf="usuarioSimplificado"
                mat-button
                routerLink="/blocos-aula"
                routerLinkActive="active"
                >Aulas</a
            >
            <a
                *ngIf="usuarioSimplificado"
                mat-button
                routerLink="/heat-map"
                routerLinkActive="active"
                >Heat Map</a
            >
        </div>
        <div
            *ngIf="usuarioSimplificado"
            style="margin: auto 0 auto auto; text-align: right; width: 20%"
        >
            <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                style="width: fit-content"
            >
                <span class="usuario-loggado" style="font-size: 16px">
                    {{ usuarioSimplificado.username }}
                </span>

                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="logout()" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Sair</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
