<div class="container-conteudo">
    <table
        mat-table
        matSort
        matSortActive="horarioInicio"
        [dataSource]="dataSource"
        matSortDirection="asc"
        matSortDisableClear="true"
        class="mat-elevation-z8"
    >
        <ng-container matColumnDef="horarioDiaSemana">
            <th
                style="width: 10%; padding-right: 50px"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            ></th>
            <td mat-cell *matCellDef="let element">
                {{ element.nomeHorario }}
            </td>
        </ng-container>

        <ng-container matColumnDef="segunda">
            <th
                style="width: 15%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Segunda
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.listaDetalhes[1].contagem }}
            </td>
        </ng-container>

        <ng-container matColumnDef="terca">
            <th
                style="width: 15%; text-align: center"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Terça
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.listaDetalhes[2].contagem }}
            </td>
        </ng-container>

        <ng-container matColumnDef="quarta">
            <th
                style="width: 15%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Quarta
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.listaDetalhes[3].contagem }}
            </td>
        </ng-container>

        <ng-container matColumnDef="quinta">
            <th
                style="width: 15%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Quinta
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.listaDetalhes[4].contagem }}
            </td>
        </ng-container>

        <ng-container matColumnDef="sexta">
            <th
                style="width: 15%"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Sexta
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.listaDetalhes[5].contagem }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
