<div class="container-conteudo">
    <mat-form-field appearance="standard">
        <mat-label>Buscar sala por nome</mat-label>
        <input
            matInput
            style="color: white"
            (keyup)="applyFilter($event)"
            placeholder="Ex.: E-307"
            #input
        />
    </mat-form-field>
    <div class="filtros" style="display: flex">
        <div class="filtro-capacidade" style="width: 13%">
            <mat-form-field appearance="outline">
                <mat-label>Capacidade Mínima</mat-label>
                <input
                    [formControl]="filtroCapacidade"
                    type="number"
                    matInput
                    style="color: white"
                />
            </mat-form-field>
        </div>
        <div class="filtro-agrupamento" style="width: 20%">
            <mat-form-field appearance="outline">
                <mat-label>Agrupamento</mat-label>
                <mat-select [formControl]="filtroAgrupamento" multiple>
                    <mat-select-trigger>
                        <mat-chip-list>
                            <mat-chip
                                *ngFor="let grupo of filtroAgrupamento.value"
                            >
                                {{ grupo["nome"] }}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-select-trigger>
                    <mat-option
                        *ngFor="let grupo of listaAgrupamentos"
                        [value]="grupo"
                        >{{ grupo.nome }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>

        <div class="filtro-atributos" style="width: 30%">
            <mat-form-field appearance="outline">
                <mat-label>Atributos</mat-label>
                <mat-select [formControl]="filtroAtributos" multiple>
                    <mat-select-trigger>
                        <mat-chip-list>
                            <mat-chip
                                *ngFor="let atributo of filtroAtributos.value"
                            >
                                {{ atributo["nome"] }}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-select-trigger>
                    <mat-option
                        *ngFor="let atributo of listaAtributos"
                        [value]="atributo"
                        >{{ atributo.nome }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>

        <div
            matBadge="4"
            matBadgeOverlap="false"
            class="toggle"
            style="display: flex; width: 30%"
        >
            <span
                [ngClass]="
                    matchAll === false ? 'toggle-ativo' : 'toggle-inativo'
                "
                style="margin-right: 8px"
                >Qualquer</span
            >
            <mat-slide-toggle
                color="primary"
                [(ngModel)]="matchAll"
            ></mat-slide-toggle>
            <span
                [ngClass]="matchAll ? 'toggle-ativo' : 'toggle-inativo'"
                style="margin-left: 8px"
                >Todos</span
            >
            <mat-icon
                class="icone-info"
                matTooltip="QUALQUER: deve conter algum dos atributos do filtro.
            TODOS: deve conter todos os atributos do filtro."
                style="margin-left: 10px"
                matTooltipPosition="above"
                >info</mat-icon
            >
        </div>
        <button
            style="width: 7%"
            mat-raised-button
            color="primary"
            (click)="filtrar()"
        >
            Filtrar
        </button>
    </div>

    <table
        mat-table
        matSort
        matSortActive="nome"
        matSortDirection="asc"
        matSortDisableClear="true"
        (matSortChange)="setSort($event)"
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
    >
        <ng-container matColumnDef="nome">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="width: 10%"
            >
                Nome
            </th>
            <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="capacidade">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="width: 10%"
            >
                Capacidade
            </th>
            <td mat-cell *matCellDef="let element">{{ element.capacidade }}</td>
        </ng-container>

        <ng-container matColumnDef="grupoSala">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="width: 15%"
            >
                Agrupamento
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.grupoSala.nome }}
            </td>
        </ng-container>
        <ng-container matColumnDef="atributosResumidos">
            <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 35%; padding-left: 14px"
            >
                Atributos
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="atributos-compactados">
                    <mat-chip-list>
                        <mat-chip *ngFor="let item of element.atributos"
                            >{{ item.nome }}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="isExclusiva">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="width: 5%"
            >
                Exclusiva
            </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 27px">
                <mat-checkbox
                    style="margin-right: 50px"
                    disabled="true"
                    [(ngModel)]="element.isExclusiva"
                ></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="isLiberar">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="width: 5%"
            >
                Liberar
            </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 20px">
                <mat-checkbox
                    style="margin-right: 50px"
                    disabled="true"
                    [(ngModel)]="element.isLiberar"
                ></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button
                    mat-icon-button
                    (click)="
                        expandedElement =
                            expandedElement === element ? null : element;
                        $event.stopPropagation()
                    "
                >
                    <mat-icon *ngIf="expandedElement !== element"
                        >keyboard_arrow_down</mat-icon
                    >
                    <mat-icon *ngIf="expandedElement === element"
                        >keyboard_arrow_up</mat-icon
                    >
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="columnsToDisplayWithExpand.length"
            >
                <div
                    class="example-element-detail"
                    [@detailExpand]="
                        element == expandedElement ? 'expanded' : 'collapsed'
                    "
                >
                    <div class="container-expand">
                        <!-- <div class="exclusiva-liberar" style="width: 40%">
                            <h4>Especificidades</h4>
                            <mat-checkbox
                                style="margin-right: 50px"
                                disabled="true"
                                [(ngModel)]="element.isExclusiva"
                                >Exclusiva</mat-checkbox
                            >
                            <mat-checkbox
                                [(ngModel)]="element.isLiberar"
                                disabled="true"
                                >Liberar</mat-checkbox
                            >
                        </div> -->
                        <div class="atributos" style="width: 60%">
                            <h4
                                style="
                                    font-family: 'Times New Roman', Times, serif;
                                    letter-spacing: 0.1em;
                                    margin-left: 4px;
                                "
                            >
                                Atributos
                            </h4>
                            <mat-chip-list>
                                <mat-chip *ngFor="let item of element.atributos"
                                    >{{ item.nome }}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="moreActions">
            <th mat-header-cell *matHeaderCellDef style="width: 1%"></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button
                        mat-menu-item
                        (click)="consultarSalaPorId(element.id)"
                    >
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="deletarSala(element.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Deletar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <!-- <tr
            mat-header-row
            *matHeaderRowDef="columnsToDisplay; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr> -->

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplayWithExpand"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="
                expandedElement = expandedElement === element ? null : element
            "
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
        ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons>
    </mat-paginator>

    <div class="botao-add">
        <button (click)="openDialog(null)" mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
