$primary: #fecc00;
$cinza-primary: #303030;
$cinza-secondary: #ffffffb3;
$error: #f44336;
$success: #69f0ae;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030;
}

.container-conteudo {
    width: 1440px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    // text-align: center;
}

.error-snackbar {
    background-color: $error;
    color: #fff;
}

.success-snackbar {
    background-color: $success;
}
