<!-- <mat-toolbar color="primary">
 
    <div class="container-header">
        <a
            mat-button
            routerLink="/usuarios"
            [routerLinkActive]="usuarioSimplificado?.isAdmin ? 'active' : ''"
            >Usuários</a
        >
        <a mat-button routerLink="/horarios" routerLinkActive="active"
            >Horários</a
        >
        <a mat-button routerLink="/cursos" routerLinkActive="active">Cursos</a>
        <a mat-button routerLink="/atributos" routerLinkActive="active"
            >Atributos</a
        >
        <a mat-button routerLink="/grupo-salas" routerLinkActive="active"
            >Agrupamento</a
        >
        <a mat-button routerLink="/salas" routerLinkActive="active">Salas</a>
        <a mat-button routerLink="/blocos-aula" routerLinkActive="active"
            >Aulas</a
        >
    </div>
</mat-toolbar> -->
<h1 style="color: white; display: flex; justify-content: center">
    Vai ter home?
</h1>
